<div class="row post">
    <div class="post-meta col-md-2">
        <h3>{{ post.date|date('l, F jS') }}</h3>
        <div class="post-category">Category: {{ post.category ? post.category.name : "Unknown"}}</div>
    </div>
    <div class="post-body col-md-8 count_this">{{ post.body|nl2br }}</div>
    <div class="post-stats col-md-2">
        {% include 'OneThirtyWordsBundle:Widgets:wordcount.html.twig' %}
    </div>
</div>