{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <ul id="human-nav" class="nav" style="float: left;">
        {% if app.session.get('human') is not null %}
            <li><a href="{{ path('farm') }}" class="btn btn-primary">Farm</a></li>
        {% endif %}
    </ul>
{% endif %}