{% if message is defined %}
    <div class="container-fluid" style="margin-top: 15px;">
        <div class="alert alert-{{ message[0] }} alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ message[1] }}
        </div>
    </div>
{% endif %}
