{% if app.user is not null %}
    {% set wordcount = user_service.getUserWordCountToday() %}

    <div class="row">
        <div class="col-md-12">
            <div class="row {{ (wordcount < 130) ? 'bg-danger' : 'bg-success'}}">
                <div class="col-md-12">
                    <div class="pull-left">
                        <h2 style="margin: 20px 15px;">{{ "now"|date('l, F jS') }}</h2>
                    </div>
                    <div class="pull-right">
                        {% if wordcount < 130 %}
                            <span class="text-danger" style="display: inline-block">-{{ 130 - wordcount }}</span>
                        {% endif %}
                        <h2 title="words today" style="display: inline-block; margin: 20px 15px;">{{ wordcount }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
