{# User Nav #}

<ul id="user-nav" class="nav">

    {## Authenticated #}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {% set user_name = app.user.displayName ? app.user.displayName : app.user.username %}

        <li><i class="fa fa-user-secret"></i> User logged in as username: {{ user_name }}</li>
        <li>
            <a href="{{ path('fos_user_security_logout') }}" class="btn btn-danger">
                Unuserify
            </a>
            {#<span>userified count: 1,234</span>#}
        </li>

        {## Unauthenticated (User not logged in) #}
    {% else %}
        <li><a href="{{ path('fos_user_security_login') }}" class="btn btn-primary">Userify</a></li>
        {#<li><a href="{{ path('fos_user_registration_register') }}">Register</a></li>#}
    {% endif %}
</ul>