<table class="table table-borderless table-hover">
    <tbody>
    {% for user in users %}
        <tr>
            <td>{{ loop.index }}</td>
            <td style="white-space: nowrap; width: 100%;">
                {{ user.displayName }}
                <span class="badge" style="margin-left: 3px;" title="days written 130 words or more">{{ user.130|number_format }}</span>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>