<table class="table table-borderless table-hover" style="display: inline-block;">
    <tbody>
    {% for user in users %}
        <tr>
            <td>{{ loop.index }}</td>
            <td style="white-space: nowrap;">{{ user.displayName }}</td>
            <td>{{ user.wordcount|number_format }} words</td>
        </tr>
    {% endfor %}
    </tbody>
</table>