/* for dev */
/**
Bootstrap (fixes, adjustments, alternates, eventual removal of bootstrap dependency)
 */
.alert-dismissable .close,
.alert-dismissible .close {
    right: 0;
}

.navbar-brand {
    font-size: 48px;
    line-height: 54px;
    padding: 0;
}

/* FOSUserBundle implementation */
.login,
.register,
#human-create {
    margin: 50px auto;
    max-width: 200px;
}

/* Humans Game */
#nav {
    margin: 10px;
}

.nav {
    margin-top: 20px;
}
.nav li {
    display: inline-block;
    margin-right: 20px;
}

#user-nav {
    float: right;
}
#user-nav > li {
    vertical-align: top;
}