<table class="table table-borderless table-hover" style="display: inline-block;">
    <tbody>
    {% for dateString, posts in postsBatchedByDate %}
        <tr>
            <td style="white-space: nowrap;">
                {{ posts[0].date|date('l, F jS, Y') }}
            </td>
            <td>
                {% for post in posts %}
                    {{ post.user.displayName ? post.user.displayName : post.user }}{% if not loop.last %}, {% endif %}
                {% endfor %}
            </td>
        </tr>
    {%  endfor %}
    </tbody>
</table>