{% extends '::base.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="row post">
            <div class="col-md-12">
                <h2>{{ post.date|date('l, F jS') }}</h2>
            </div>
            <div class="col-md-2 post-header">
                <div>
                    <i class="fa fa-folder-open" aria-hidden="true"></i>
                    {{ post.category ? post.category.name : "Uncategorized"}}
                </div>
            </div>
            <div class="col-md-8 post-body count_this panel panel-body panel-default">
                {{ post.body|nl2br }}
            </div>
            <div class="col-md-2">
                {% include 'OneThirtyWordsBundle:Widgets:wordcount.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}