{% if categories is not empty %}
    <h3><i class="fa fa-folder-open" aria-hidden="true"></i> New Post By Category</h3>
    {% for category in categories %}
        <form action="{{ path('newPost') }}" method="POST">
            <input type="hidden" id="category_id" name="category_id" value="{{ category.id }}">
            <input type="submit" value="{{ category.name }}" class="btn btn-default" />
        </form>
    {%  endfor %}
{% endif %}