{% extends '::base.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                {% include 'OneThirtyWordsBundle:Home:partials/today.html.twig' %}
            </div>
        </div>
        <div class="col-md-9">
            {% include 'OneThirtyWordsBundle:Home:partials/posts.html.twig' %}
        </div>
        <div class="col-md-3">
            {% include 'OneThirtyWordsBundle:Home:partials/new_post_by_category.html.twig' %}
        </div>
    </div>
{% endblock %}