{% extends '::base.html.twig' %}

{% set user_name = app.user.displayName ? app.user.displayName : app.user.username %}

{% block content %}
    <pre>
        - [x] Register (/)
        - [x] Userify (/) (logged in as {{ user_name }})
        - [ ] <a>Humanify</a> ( )
    </pre>

    <code>Coming soon...</code>
{% endblock %}