{% extends '::base.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="col-md-8">
            {% include 'OneThirtyWordsBundle:Home:partials/posts.html.twig' %}
        </div>
        <div class="col-md-4">
            {% include 'OneThirtyWordsBundle:Home:partials/new_post_by_category.html.twig' %}
        </div>
    </div>
{% endblock %}