{% extends '::base.html.twig' %}

{% block content %}
<pre>
    Hello, User.
    Welcome to Humans Game.

    @todo:
    1. [ ] <a href="{{ path('fos_user_security_login') }}">Userify...</a>
</pre>
{% endblock %}