{% extends '::base.html.twig' %}

{% block content %}
    <div class="splash jumbotron text-center">
        <h1 class="text-uppercase">130 Words</h1>
        <h2>Daily Journaling Rocketfuel</h2>
        <h3>- free - private - inspired -</h3>
        <p>130 Words is a free web app that motivates private daily journaling.</p>
        <p>We love to add new features and the app is always improving.</p>
        <p>Register to give it a try and let us know what you think.</p>
        <a href="{{ path('fos_user_registration_register') }}" class="btn btn-primary btn-lg">Try Now For Free</a>
    </div>
{% endblock %}