<div class="wordcount-container"><span class="wordcount"></span> words</div>

{% if postSavedWordCount is defined %}
    <div class="alert alert-warning">
        {{ postSavedWordCount }} words saved (this post)
    </div>
{% endif %}