{% extends 'base.html.twig' %}

{% block title %}Register - {{ parent() }}{% endblock %}

{% block content %}
    <div class="register">
        {% block fos_user_content %}{% endblock %}
    </div>
{% endblock %}