{% extends '::base.html.twig' %}

{% block content %}
    {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") or app.user is null %}
        {% include 'HumansGameBundle:instructions:pre_user.html.twig' %}
    {% else %}
        {% if app.user.humans is empty %}
            {% include 'HumansGameBundle:instructions:pre_humans.html.twig' %}
            {% include 'HumansGameBundle:forms:human_create_form.html.twig' %}
        {% elseif app.session.get('human') is not empty %}
            {% include 'HumansGameBundle:instructions:human.html.twig' %}
            {% if humans is not empty %}
                <table class="table table-bordered table-responsive" style="width: inherit;">
                    <thead>
                    <tr>
                        <th>Human</th>
                        <th>Seeds</th>
                    </tr>
                    </thead>
                    {% for human in humans %}
                        <tr>
                            <td>{{ human.name }}</td>
                            <td>{{ human.seeds }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}