{% if app.user.humans is empty %}
    {% include 'HumansGameBundle:instructions:pre_humans.html.twig' %}
    {% include 'HumansGameBundle:forms:human_create_form.html.twig' %}
{% else %}
    <ul class="nav">
        {% for human in app.user.humans %}
            <li><a class="btn btn-default">{{ human.name }}</a></li>
        {% endfor %}
    </ul>
{% endif %}