{% extends '::base.html.twig' %}

{% block content %}

    <div class="row-fluid">
        <div class="col-md-12">
            <h3>Stats</h3>
            <table class="table">
                <thead>
                <tr>
                    <th>User ID</th>
                    <th>Word Count</th>
                </tr>
                </thead>
                <tbody>
                {% for userId, user in users %}
                <tr>
                    <td>{{ userId }}</td>
                    <td>{{ user.wordcount }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}