/**
Bootstrap (fixes, adjustments, alternates, eventual removal of bootstrap dependency)
 */
.alert-dismissable .close,
.alert-dismissible .close {
    right: 0;
}

.nav > li > a {
    padding: 0;
}

/* FOSUserBundle implementation */
.login,
.register {
    margin: 50px auto;
    max-width: 200px;
}

/* Humans Game */
#nav {
    margin: 10px;
}
.nav {
    margin-top: 20px;
}
.nav li {
    display: inline-block;
    margin-right: 20px;
}
#user-nav {
    float: right;
}