/**
Bootstrap
 */
.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}

/**
130 Words
 */
.post {
    justify-content: center;
}
.post-header {
    margin-bottom: 20px;
}
.post-body {
    font-size: 20px;
}
.post-body textarea {
    height: 400px;
    font-size: 20px;
    resize: none;
}

.wordcount {
    font-size: 24px;
}