{% extends '::base.html.twig' %}

{% block content %}
    {% if app.user is not null %}
        <div style="margin-left: 15px;">
            <h1><i class="fa fa-home" aria-hidden="true"></i> Farm</h1>
            <p>Welcome to the farm!</p>
            <p>Click the button:</p>
            <a href="{{ path('getSeeds') }}" class="btn btn-primary">Get Seeds</a>
            <div style="margin-top: 10px;">
                <strong>Seeds:</strong> <span class="badge">{{ (seeds is null) ? "None" : seeds.quantity }}</span>
            </div>
        </div>
    {% endif %}
{% endblock %}