{% extends '::base.html.twig' %}

{% block content %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") and app.user is not null %}
        <h1>Farm</h1>
        <p>Welcome to the farm!</p>
        <p>Click the button:</p>
        <a href="{{ path('getSeeds') }}" class="btn btn-primary">Get Seeds</a>
        <div>
            <strong>Seeds:</strong> {{ (seeds is null) ? "None" : seeds.quantity }}
        </div>
    {% endif %}
{% endblock %}