{% extends '::base.html.twig' %}

{% block content %}
    {% if app.user is not null %}
        <div style="margin-left: 15px;">
            <h1><i class="fa fa-home" aria-hidden="true"></i> Farm</h1>
            <p>Welcome to the farm!</p>
            <a href="{{ path('getSeeds') }}" class="btn btn-primary">Get Seeds</a>
            <div style="margin-top: 10px;">
                <strong>Seeds:</strong> {{ (seeds is null) ? "None" : seeds.quantity }}<br>
                {% for i in 0..seeds.quantity  %}
                    <span class="badge">Seed</span>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}